/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
    .download{
        margin-right: 100px;
    }
    .banner-text h4{
        font-size: 20px;
    }
    .hand img{
        height: auto;
    }
    .owl-theme .owl-dots {
        position: absolute;
        bottom: 5px;
        left: 252px;
    }
    header{
        margin-bottom: 30px;
    }
    .seudo::before{
        left: 10%;
    }
    .seudo::after{
        right: 10%;
    }
    .top {
        padding-bottom: 20px;
        font-size: 14px;
    }
    .feature .col-md-2{
        max-width: 17.6667%;
        padding-left: 45px;
    }
    .feature img{
       width: 200px;
       height: 70vh;
       padding-top: 40px;
    }
    .tool{
        padding: 0px 20px;
    }
    .feature{
        padding-bottom: 30px;
    }
    .seudo-gellary::before {
       left: 8%;
    }
    .seudo-gellary::after{
        right: 8%;
    }
    .gallery-carosule .owl-theme .owl-dots {
        position: absolute;
        top: 220px;
        left: 300px;
    }
    .video-img img{
        height: auto;
    }
    .video-img i{
        top: 48%;
        left: 56%;
    }
    .um{
        font-size: 16px;
    }
    .show{
        margin-bottom: 20px;
    }
    .people::before{
        left: 5%;
    }
    .people::after{
        right: 5%;
    }
    .app .card {
        width: 15rem;
        padding-right: 40px;
    }
    .app .card-body{
        height:260px;
    }
    .app{
        padding-bottom: 30px;
    }
    .comment .item img{
        margin-left: 305px;
    }
    .cot{
        padding-bottom: 10px;
        text-align: center;
    }
    .comment .owl-theme .owl-dots{
        left: 300px;
    }
    .feature-in{
        height: auto;
        margin-bottom: 20px;
    }
    .do::before{
        left: 18%;
    }
    .do::after{
        right: 18%;
    }
    .client-img {
        padding-top: 12px;
        padding-bottom: 30px;
    }
    
    .sed {
        padding-bottom: 0px;
    }
    .touch .row .col-md-7 h3{
        text-align: center;
    }
    .touch img{
        width: 100%;
        height: auto;
        padding-top: 130px;
    }
    .get-in{
        border-bottom: none;
    }
    .ic{
        display: flex;
        padding-right: 0px;
       float: none;
    }
    footer{
        height: auto;
    }
    .button-arrow input{
        padding: 10px 0px;
    }
    .et p {
        margin-left: 40px;
    }
    footer .col-md-3{
        padding-left: 36px;
    }
    .button-arrow .fal{
        right: 0px;
    }
    .line-2{
        display: none;
    }
    .line{
        display: none;
    }
    

    
  }
  
  
  
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
      header{
          height: auto;
      }
    .banner-text {
        padding: 10px 0px;
        text-align: center;
    }
    .banner-text h4{
        font-size: 20px;
    }
    .hand img {
        padding-top: 20px;
        height: auto;
        text-align: center;
    }
    .feature-text h3{
        padding: 0px;
    }
    .seudo::before{
        display: none;
    }
    .seudo::after{
        display: none;
    }
    .tool{
        text-align: center;
    }
    .feature-text p{
        padding-bottom: 0px;
    }
    .feature{
        padding-bottom: 0px;
    }
    .seudo-gellary::before {
        display: none;
    }
    .seudo-gellary::after{
        display: none;
    }
    .gallery .owl-carousel .owl-item img{
        padding-bottom: 30px;
    }
    .gallery{
        padding-bottom: 0px;
    }
    .video-img img{
        height: auto;
    }
    .start{
        padding: 0px;
        top: 46%;
        left: 28%;
    }
    .video-img i{
        top: 35%;
        left: 48%;
        font-size: 25px;
    }
    .umbrella {
        top: 71%;
        right:25%;
    }
    .um {
        font-size: 15px;
    }
    .show{
        margin-bottom: 40px;
    }
    .people::before{
        display: none;
    }
    .people::after{
        display: none;
    }
    .app-text h3 {
        font-size: 26px;
        padding: 0px;
    }
    .card{
        margin-left: 30px;
    }
    .app{
        padding-bottom: 30px;
    }
    .comment .item img{
        margin-left: 100px;
    }
    .client p{
        padding-bottom: 30px;
    }
    .item h5{
        padding-right: 60px;
    }
    .item p{
        padding-right: 60px;
    }
    .client{
        padding-bottom: 0px;
    }
    .do::before{
        display: none;
    }
    .do::after{
        display: none;
    }
    .feature-in{
        height: auto;
        margin-bottom: 40px;
    }
    .feature-in h3 {
        padding: 20px 0px;
    }
    .client-img{
        padding-top: 30px;
        padding-bottom: 40px;
        padding-left: 100px;
    }
    .get-text h3{
        padding: 0px;
    }
    .get-text p{
        padding: 0px;
        font-size: 14px;
    }
    .conatct-form h3{
        margin: 40px 0px;
        text-align: center;
    }
    .ic{
        padding-right: 15px;
        float: left;
    }
    .touch-icon li{
        display: inline-block;
        padding-right: 10px;
    }
    .get-text p{
        padding-bottom: 0px;
    }
    .touch-icon ul{
        margin-top: 30px;
    }
    footer {
        height: auto;
    }
    .arow{
        margin-top: 0px;
    }
    footer .col-md-3{
        text-align: center;
    }
    .last p{
        font-size: 11px;
    }
    .button-arrow .fal{
        top: 38px;
        right: 80px;
    }
    .arow-2{
        margin-left: 0px;
        padding-bottom: 0px;
    }
    .et p{
        margin-left: 0px;
        padding-top: 20px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .et{
        display: flex;
        text-align: center;
    }
   
    
    .el{
        margin-top: 0px;
        display: flex;
        margin-left: 50px;
    }
    .el p{
        padding-right: 20px;
    }
    .heart {
        margin-top: 30px;
    }
    .touch {
        margin-bottom: 40px;
    }
    .line-2{
        display: none;
    }
    .line{
        display: none;
    }
    .item p{
        padding-right: 0px;
    }
    .download {
        margin-right: 0px;
    }
    .hand img{
        padding-left: 70px;
    }
    .feature-text p{
        margin-bottom: 0px;
    }
    .app-text p{
        padding-bottom: 10px;
    }
    .comment .item img{
        margin-left: 122px;
    }
    .item h5{
        padding-right: 0px;
    }
    .client p{
        text-align: center;
    }
    .button-arrow input {
        margin-top: 0px;
    }
    .ig{
        padding-top: 20px;
    }
   
  }